@charset "utf-8";

/* ---------------------------------------
	Filename: layout.css
	Description : T-CORE
	Author	: mobigen
	date	: 2018-06-04
	비고 : CR (IE 제외)
   --------------------------------------- */ 

/* Font Nanum Gothic */
@font-face { 
        font-family:"Nanum Gothic"; 
		src:url('../../font/NanumGothic.eot'); 
		src:local('※'),url('../../font/NanumGothic.ttf') format('truetype');
		src:local('※'),url('../../font/NanumGothic.woff') format('woff');
		font-weight: 400;
		font-style: normal;
}
@font-face { 
        font-family:"Nanum Gothic"; 
		src:url('../../font/NanumGothicBold.eot'); 
		src:local('※'),url('../../font/NanumGothicBold.ttf') format('truetype');
		src:local('※'),url('../../font/NanumGothicBold.woff') format('woff');
		font-weight: 700;
		font-style: normal;
}

/* Layout */
html {overflow-y:auto;}
body {}
.wrapper {background:#fafafa;}
.slim-type aside, .content, .fixed-top-cont {transition:.4s cubic-bezier(.4,0,.2,1);}

/* width */
.w100 {width:100px !important;}
.w150 {width:150px !important;}
.w200 {width:200px !important;}
.w300 {width:300px !important;}
.w400 {width:400px !important;}
.w500 {width:500px !important;}
.w600 {width:600px !important;}

/* etc */
p {margin-bottom:0;}

/* slim-type > header, container */
.slim-type aside {width:51px; background:#24262b url(../../images/common/logo_sk_sm.png) no-repeat 50% 99%;}
.slim-type aside h1 {width:100%;}
.slim-type aside h1.logo a {background:url(../../images/common/logo_tcore_sm.png) no-repeat 50% 50%;}
.slim-type .content,
.slim-type .fixed-top-cont {padding-left:51px;}

/* slim-type gnb > gnb-menu */
.slim-type .gnb-menu > li {position:relative; width:51px;}
.slim-type .gnb-menu > li > a {text-align:center;}
.slim-type .gnb-menu > li > a > i {line-height:40px;}
.slim-type .gnb-menu > li > a > span,
.slim-type .gnb-menu > li > a > i.arrow {display:none; opacity:0;}
.slim-type .gnb-menu > li:hover > a {background:#171719;}
.slim-type .gnb-menu > li:hover > a > span {position:absolute; top:0; left:61px; display:inline-block; color:#899cff; width:150px; height:40px; line-height:40px; text-align:left; cursor:default; opacity:1; z-index:4;}
.slim-type .gnb-menu > li:hover > a > i.arrow {position:absolute; top:0; right:-160px; display:inline-block; -webkit-transform:rotate(90deg); transform:rotate(90deg); cursor:default; opacity:1; z-index:4;}
.slim-type .gnb-menu > li .gnb-list {position:absolute; top:0; left:-9999px; width:150px; padding-top:40px; background:#171719; z-index:3;}
.slim-type .gnb-menu > li .gnb-list a {padding:10px;}
.slim-type .gnb-menu > li:hover > .gnb-list {display:block !important; left:51px;}

/* slim-type gnb > gnb-menu 하단 */
.slim-type .gnb.bottom .gnb-menu > li .gnb-list {top:auto; bottom:0; padding-top:0; padding-bottom:40px;}
.slim-type .gnb.bottom .gnb-menu > li:hover > a > span {top:0;}
.slim-type .gnb.bottom .gnb-menu > li:hover > a > i.arrow {-webkit-transform:rotate(-90deg); transform:rotate(-90deg);}

/* aside */
aside {position:fixed; top:0; width:200px; height:100%; background:#24262b url(../../images/common/logo_sk.png) no-repeat 10px 99%; z-index:3;}
aside h1.logo {height:46px; background:#24262b url(../../images/common/bg_logo.png) no-repeat 100% 100%; box-shadow:1px 0 8px rgba(0,0,0,.3);}
aside h1.logo a {display:block; overflow:hidden; height:100%; background:url(../../images/common/logo_tcore.png) no-repeat 18px 50%; text-indent:-9999px;}
aside .gnb {}
aside .bottom-cont {position:absolute; bottom:80px; left:0; right:0;}

/* gnb-menu */
.gnb-menu {width:100%;}
.gnb-menu li a {text-align:left; font-weight:700; color:#a3a3a3;}
.gnb-menu > li > a {display:block; position:relative; width:100%; height:40px; padding:0 15px;}
.gnb-menu > li > a:after{content:''; display:inline-block; height:100%; vertical-align:middle;}
.gnb-menu > li > a > span {display:inline-block;}
.gnb-menu > li > a > i {margin:0 15px 0 0; font-size:20px; vertical-align:middle;}
.gnb-menu > li > a > i.arrow {position:absolute; top:calc(50% - 8px); right:0; font-size:16px; -webkit-transition:.3s cubic-bezier(.25,.8,.5,1); transition:.3s cubic-bezier(.25,.8,.5,1);}
.gnb-menu > li:hover > a {color:#899cff;}
.gnb-menu > li.active {background:#171719;}
.gnb-menu > li.active > a {color:#899cff;}
.gnb-menu > li.active > a:before  {content:""; position:absolute; top:0; left:0; bottom:0; display:inline-block; border-left:3px solid #687ff4;  -webkit-animation:gnbactiveline .5s; animation: gnbactiveline .5s;}
@-webkit-keyframes gnbactiveline {
  from {bottom: 40px;}
  to {bottom: 0;}
}
@keyframes gnbactiveline {
  from {bottom: 40px;}
  to {bottom: 0;}
}
.gnb-menu > li.active i.arrow {-webkit-transform:rotate(90deg); transform:rotate(90deg);}

/* gnb Depth2 */
.gnb-menu li > ul{display:none;}
.gnb-menu .gnb-list li{width:100%;}
.gnb-menu .gnb-list li{height:auto; min-height:30px; line-height:16px;}
.gnb-menu .gnb-list li:hover a {color:#fff;} 
.gnb-menu .gnb-list li.active a {color:#899cff;}
.gnb-menu .gnb-list li a {display:block; padding:11px 0 11px 50px;}
.gnb-menu .gnb-list li a span {display:inline-block; vertical-align:middle;}

/* content */
.fixed-top-cont {position:fixed; top:0; left:0; right:0; width:100%; height:46px; padding-left:200px; background:#485ab7; box-shadow:0 1px 5px 0 rgba(0,0,0,.3); z-index:2;}
.content {padding:46px 0 0 200px;}
.container {position:relative; padding:6px;}

/* layout flex 간격 */
.layout.row.gap-06 {margin:0 -3px;}
.layout.row.gap-06 .flex {padding:0 3px;}

/* fixed-top-cont */
.fixed-top-cont >* {height:100%; color:#fff;}
.fixed-top-cont:after{content:'';display:block;clear:both;}
.fixed-top-cont .top-left {float:left; margin:0 10px;}
.fixed-top-cont .top-right {float:right;}
.fixed-top-cont .top-left:before{content:""; display:inline-block; height:100%; vertical-align:middle;}

/* container > layout  > panel */
.panel-wrap {width:100%; height:100%; border:1px solid #c2c2c2; background:#fff; box-shadow:0 1px 3px rgba(0,0,0,0.2);}
.panel-wrap .panel-header {height:34px; padding:4px 10px; border-bottom:1px solid #c2c2c2; background:#f1f1f1; box-shadow:0 1px 0 0 rgba(238,238,238,1);}
.panel-wrap .panel-header >* {height:100%;} 
.panel-wrap .panel-header .header-title {padding:0 10px 0 0; color:#111; font-weight:700; font-size:12px;}
.panel-wrap .panel-header .filter-title {padding:0 10px 0 0; color:#111; font-weight:700; font-size:12px;}
.panel-wrap .panel-header .filter-title em {padding-right:5px; color:#819736;}
.panel-wrap .panel-header >*:before {content:""; display:inline-block; height:100%; vertical-align:middle;}
.panel-wrap .panel-body {height:calc(100% - 34px); padding:6px; border-top:none;}

/* util-menu */
.util-menu:after{content:'';display:block;clear:both;}
.util-menu li {float:left; height:46px; line-height:46px;}
.util-menu li >* {vertical-align:top;}
.util-menu button {height:46px; min-width:30px; margin:0}
.util-menu .btn-util-logout {width:52px; border-left:1px solid #606fc0;}

/* badge */
.badge__badge, .badge__badge .icon {font-size:11px;}
.util-menu .badge__badge {left:-15px; top:8px; height:12px; line-height:12px; }
.util-menu .badge__badge .bg-red {height:12px; line-height:12px; padding:1px 5px; background:#e15554; border-radius:7px;}
.util-menu .badge-color1 {height:15px; background:#e15554;}
/* breadcrumbs */
.breadcrumbs {padding:0;}
.breadcrumbs li {font-size:12px;}
.breadcrumbs li a {font-weight:700; color:#555;}
.breadcrumbs li a:hover {color:#526ad1;}
.breadcrumbs li:after {content:""; display:inline-block; margin:0 8px; vertical-align:middle; border-left:4px dashed; border-top:4px solid transparent; border-bottom:4px solid transparent;}
.breadcrumbs li:last-child > a {color:#465fce;}
.breadcrumbs li:last-child:after {border:none;}
.breadcrumbs li:nth-child(2n) {padding:0 6px;}

/* tabs */
.tabs {min-width:130px;}
.tabs__wrapper {box-shadow:0 1px 0 0 rgba(238,238,238,1);}
.tabs__container {height:34px; border-bottom:1px solid #c2c2c2; background:#e6e6e6;}
.tabs__slider-wrapper {bottom:-1px; z-index:1;}
.tabs__slider {border-color:#9ebb40; background-color:#9ebb40;}
.tabs__div {text-transform:none; border-right:1px solid #d3d3d3;}
.tabs__item {padding:0 12px; font-size:12px; font-weight:700; cursor:pointer;}
.tabs__item--active, .tabs__item--active:hover {background-color:#fff; color:#465fce;}
.tabs__content > .card > .card__text {padding:0;}
.header-tabs {}
.sub-tabs .tabs__wrapper {box-shadow:none;}
.sub-tabs .tabs__container {height:28px; border-left:1px solid #d3d3d3; background:#fff;}
.sub-tabs .tabs__div {border-top:1px solid #d3d3d3;}
.sub-tabs .tabs__item {background-color:#e6e6e6;}
.sub-tabs .tabs__item--active {background-color:#fff;}

/* Rules for sizing the icon. */
.material-icons.md-14 { font-size: 14px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* btn */
.btn {margin:0 ;min-width:18px; font-size:12px; text-transform:none;}
.btn--icon.ico-sm {width:18px; height:18px;}
.btn-gnb-toggle {line-height:100%;  margin:10px 0 0 15px; background:transparent; border-radius:0; color:#fff;}
.btn-gnb-toggle:before {content:"";}
.btn-gnb-toggle:hover {box-shadow:none;}
.toolbar__side-icon {color:#fff;}
button[class^="btn-md"] {height:24px;}
button[class*="-cr"] {border-radius:2px; background:#6477cd; color:#fff;}
button[class*="-gy"] {border-radius:2px; background:#ededed;}
button[class^="btn-md"].ico {width:24px;}
button.round {border-radius:12px;}
.btn .icon--left {margin-right:6px;}
.btn .icon--right {margin-left:6px;}

/* Button 정렬 */
.btns-area {padding:10px 0; background:#fff; text-align:center;}/* 기본 중앙 */
.btns-area:after {content:''; display:block; clear:both;}

/* media */
@media (max-width:767px){
	aside {width:0;}
	aside >* {display:none;}
	.content {padding-left:0;}
	.fixed-top-cont {padding-left:0;}
	.slim-type aside >* {display:block;}

}
@media (min-width:768px) and (max-width:1024px){
	.slim-type aside {width:51px;}
	.slim-type .content {padding-left:51px;}
	
}

/* 우측 slider-container */
.slider-container {position:absolute; top:6px; right:0; bottom:6px; width:100%; box-shadow:0 2px 26px 5px rgba(0,0,0,.10); -webkit-transition:.2s cubic-bezier(.4,0,.2,1); transition:.2s cubic-bezier(.4,0,.2,1); z-index:2;}
.slider-container .panel-wrap .panel-header {background:linear-gradient(to bottom,#e4e4e4,#d5d5d5);}
.slider-container .panel-wrap .panel-body {}
.expansion-panel {border:1px solid #bbb;}
.expansion-panel__container {border-top:1px solid #c2c2c2;}
.expansion-panel__header {padding:3px 10px; background:#f9f9f9;}
.expansion-panel__header + .expansion-panel__body {border-top:1px solid #c2c2c2;}

.card__text {padding:10px;}

/* Input Type */
.input-srh {display:inline-block; position:relative; vertical-align:middle;}
.input-srh .input-group__input {height:24px; padding:0 30px; border-radius:12px; border:1px solid #b2b2b2; background:#fff; box-shadow: 0 1px 3px rgba(0,0,0,0.2);}
.input-srh .icon {position:absolute; left:6px; top:0; z-index:1;}
.input-srh input:focus {border-color:#b7b7b7 !important; outline:0;}

/* Input 공통 */
.input-group--text-field input {padding-bottom:2px;}
.input-group--text-field input, .input-group--text-field textarea {font-size:12px;}
.input-group__input .icon {color:#666;}
.input-group.input-group--focused {border-color:#6477cd;}
.input-group.input-group__input:active input {border:1px solid red;}
.input-group {padding-top:0;}
.input-group__details {min-height:0; padding-top:0;}
.input-group__input {min-height:24px; border:1px solid #b2b2b2; border-radius:2px; background:#fff;}
.input-group label {line-height:24px; font-size:12px;}
.input-group--text-field input {height:24px;}
.input-group--text-field.input-group--prepend-icon .input-group__details {max-width:100%;}

/* select-box */
.select-box.input-group {height:24px; padding-top:0;}
.select-box.input-group label {height:22px; line-height:20px; font-size:12px;}
.select-box.input-group .icon {font-size:20px}
.select-box.input-group--text-field label {top:2px; left:4px}
.select-box .input-group__details {min-height:1px; padding-top:2px; color:#485ab7;}
.select-box.input-group .input-group__append-icon {padding:0;}

/* Table */
table {border-collapse:collapse; border-spacing:0; width:100%; table-layout:fixed; word-wrap:break-word; word-break:break-all;}
caption {visibility:hidden; overflow:hidden; width:0; height:0; font-size:0; line-height:0;}

/* filter */
.filter-list li {float:left; padding:5px 10px;}
.filter-list li a {display:block; height:24px; line-height:20px; padding:1px 12px; border:1px solid #eee; border-radius:12px; background:#f9f9f9; vertical-align:middle; }
.filter-list li a:hover {border-color:#819736; background-color:#fff;}
.filter-list li.active a {border:1px solid #819736; background:#9ebb40; color:#fff;}
.filter-selected {padding:10px; background:#e4e4e4}

/* filter-tbl */
.filter-tbl {border:1px solid #c2c2c2;background:#f6f6f6;}
.filter-tbl > table > tbody > tr > th {padding:6px; border-bottom:1px solid #c2c2c2; border-right:1px solid #c2c2c2; text-align:left; font-weight:700;}
.filter-tbl > table > tbody > tr > td {padding:6px; border-bottom:1px solid #c2c2c2; background:#fff; word-wrap:break-word; word-break:break-all; vertical-align:middle;}

.picker__title {background:#6477cd;}
.picker__body {background:#fff;}

/* dialog */
.dialog__content {position:absolute;}

/* 임시Rack사이즈 */
.col-fixed500 {flex-basis:500px !important; max-width:500px !important;}
.col-fluid500 {flex-basis:calc(100% - 500px) !important; max-width:calc(100% - 500px) !important}

/* 임시Login */
/* Login New 2017-05-23 MOD : 통합 로그인 */
#login-wrap {width:100%; min-width:1230px; height:100vh; background:#fff url(../../images/common/bg_login_back.jpg) repeat-x 0 0;}
#login-container {position:relative; width:1230px; height:769px; margin:0 auto; background:url(../../images/common/bg_login_view.png) no-repeat 0 47px;}
#login-container h1 {position:absolute; left:48px; top:47px; width:126px; height:49px; background:url(../../images/common/login_logo_sk.png) no-repeat 0 0; text-indent:-9999px;}

.login-area {position:absolute; left:738px; top:296px;}
.login-area > * {width:314px; }
.login-area h2 {width:246px; height:53px; margin-bottom:14px; background:url(../../images/common/login_logo_tcore.png) no-repeat 0 0; text-indent:-9999px;}
.login-area .login-input label {}
.login-area .login-input.input-group--text-field label {top:2px;}
.login-area .login-input {position:relative; height:35px; margin-bottom:8px;}
.login-area .login-input .input-group__input {}
.login-area .login-input input {width:100%; height:100% !important; line-height:20px !important; padding:2px 10px 4px 46px !important; border-radius:5px !important; border:0; font-size:14px; color:#393939;}
.login-area .login-input i {position:absolute; left:5px; top:7px; width:20px; height:16px;}
.login-area .login-btns {margin-bottom:15px;}
.login-area .login-btns button {display:inline-block; height:41px; line-height:39px; border-radius:5px; font-weight:bold; font-size:14px; color:#fff; letter-spacing:1px;}
.login-area .login-btns .login {width:257px; border:1px solid #719c27; background:#94b52c; text-shadow:0 0 3px #546b1d;}
.login-area .login-btns .join {width:49px; margin-left:4px; border:1px solid #6b6b6b; background:#8e8e8e; text-shadow:0 0 3px #464646;}
.login-help {} 
.login-help .chk-log {float:left;}
.login-help .chk-log > [type="checkbox"] + label:before {border:1px solid #aaa;}
.login-help .chk-log > [type="checkbox"]:checked + label:before {color:#222;}
.login-help .find-log {float:right;}
.login-help .find-log a {display:inline-block; height:24px; line-height:24px; color:#2a96b1;}
.login-help .find-log a:first-child:after {content:"/"; margin:0 5px;}
.login-help:after {content:""; display:block; clear:both;}
.login-info {padding:22px 0 0 3px; line-height:16px; color:#212121;}

/* login visual */
.visual-area {position:absolute; top:165px; left:118px; width:500px; height:500px;}
.slider-view {position:relative; overflow:hidden; width:256px; height:228px; margin:140px auto;}
.slider-list {position:absolute;}
.slider-list:after {display:block; clear:both; content:''}
.slider-list li {float:left; width:256px; height:228px;}

/* login visual move images */
[class^="slider-mv"] {font-size:0;}
.slider-mv1 {background:url(../../images/common/mv1.png) no-repeat 0 0;}
.slider-mv2 {background:url(../../images/common/mv2.png) no-repeat 0 0;}
.slider-mv3 {background:url(../../images/common/mv3.png) no-repeat 0 0;}
.slider-mv4 {background:url(../../images/common/mv4.png) no-repeat 0 0;}
.slider-mv5 {background:url(../../images/common/mv5.png) no-repeat 0 0;}
.slider-mv6 {background:url(../../images/common/mv6.png) no-repeat 0 0;}
.slider-mv7 {background:url(../../images/common/mv7.png) no-repeat 0 0;}

/* login visual move number */
.slider-number {}
.slider-number li {}
.slider-number li [class^="number"] {position:absolute; width:120px; height:95px; font-size:0;}
.slider-number li [class^="number"].on:after {content:""; position:absolute; top:-10px; left:calc(50% - 13px); width:0; height:0; margin-left:5px; vertical-align:middle; color:#ff6600; border-top:7px dashed; border-right:7px solid transparent; border-left:7px solid transparent;}
.slider-number li .number1 {top:90px; left:28px; background:url(../../images/common/mv1_sm.png) no-repeat 0 0;}
.slider-number li .number2 {top:203px; left:-4px; background:url(../../images/common/mv2_sm.png) no-repeat 0 0;}
.slider-number li .number3 {top:307px; left:9px; background:url(../../images/common/mv3_sm.png) no-repeat 0 0;}
.slider-number li .number4 {top:387px; left:93px; background:url(../../images/common/mv4_sm.png) no-repeat 0 0;}
.slider-number li .number5 {top:415px; left:197px; background:url(../../images/common/mv5_sm.png) no-repeat 0 0;}
.slider-number li .number6 {top:376px; left:294px; background:url(../../images/common/mv6_sm.png) no-repeat 0 0;}
.slider-number li .number7 {top:280px; left:370px; background:url(../../images/common/mv7_sm.png) no-repeat 0 0;}

fieldset {border:0 none;}