@charset "utf-8";

/* ---------------------------------------
	Filename: reset.css
	Description : T-CORE
	Author	: mobigen
	date	: 2018-06-01
	비고 : CR (IE 제외) 
   --------------------------------------- */ 

/* Reset ***********/
* {margin:0; padding:0;}
html,body {height:100%;}
body {background:#fff; color:#333; font-weight:400; line-height:1;}
body,input,button,textarea,select {font-family:"Nanum Gothic", "나눔고딕", "Malgun Gothic", Dotum, 돋움, sans-serif; font-size:12px;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
h1, h2, h3, h4, h5, h6, strong, b {font-weight:700;}
ul,ol {list-style:none}
address,em,cite {font-style:normal;}
hr {display:none;}
img {border:0 none;}
button, input, select, textarea, img {vertical-align:middle;}
a, a:hover, a:focus, a:active {color:#333; text-decoration:none;}
label {vertical-align:middle; cursor:pointer;}
button {border:0 none; font-weight:700; cursor:pointer;}
*, *:before, *:after{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
/**:focus {outline:none !important;}*/
button:focus {outline:none;}
sub, sup {font-size:75%; line-height:0; vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
legend {position:absolute; visibility:hidden; overflow:hidden; width:0; height:0; margin:0; padding:0; font-size:0; line-height:0;}