<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skt.recommendedSystem.oksusu.VideoInfoMapper">

	<select id="selectWatchVideoList" parameterType="videoInfoSearchModel" resultType="VideoInfoModel">
	/*VideoInfoMapper.selectWatchVideoList*/
		<![CDATA[
		select
			US.USER_ID,
			US.VIDEO_ID,
			CG.META_TYP_NM,
			VM.VIDEO_TYPE,
			VM.VIDEO_SVC_ID,
			case
			  when VM.VIDEO_TYPE in ('2', '3')
				then MT.TITLE
			  when VM.VIDEO_TYPE = '4'
				then VM.CLIP_TITLE
		  	end TITLE,
			TO_CHAR(MT.DD_SHOWING, 'YYYY.MM.DD') AS DD_SHOWING,
			case
				when VM.VIDEO_TYPE = '3'
			  		then TO_CHAR(TO_DATE(TO_CHAR(substr(MT.DT_TELEVISE,0,8)), 'YYYY.MM.DD'), 'YYYY.MM.DD')
				when VM.VIDEO_TYPE = '4'
			  	then TO_CHAR(VM.DT_ORGANIZE, 'YYYY.MM.DD')
		  	end DT_TELEVISE,
			US.WATCH_DATE,
			US.WATCH_TIME
		from
		  	OKSUSU_USER_SEQUENCE US,
		  	OKSUSU_CONTENTS_GNR CG,
		  	(
				select
				  VM.VIDEO_ID,
				  VM.VIDEO_TYPE,
				  VM.VIDEO_SVC_ID,
				  CCM.CLIP_TITLE,
				  CCM.DT_ORGANIZE
				from
				  OKSUSU_VIDEO_MAP VM,
				  CLP_CLIP_MST CCM
				where 1=1
				  and VM.VIDEO_SVC_ID= CCM.CLIP_ID(+)
		  	) VM,
		  	(
				select
					VC.ID_CONTENTS AS ID_CONTENTS,
					VC.TITLE AS TITLE,
					VCG.DD_SHOWING AS DD_SHOWING,
					VCG.DT_TELEVISE AS DT_TELEVISE
				from
				  	VCMS_CONTENTS VC,
				  	VCMS_CONTENTS_GENERAL VCG
				where
				  	VC.ID_CONTENTS = VCG.ID_CONTENTS
		 	 ) MT
		where 1=1
		and US.VIDEO_ID = VM.VIDEO_ID
		and VM.VIDEO_SVC_ID = CG.CONTENT_ID
		and VM.VIDEO_SVC_ID = MT.ID_CONTENTS(+)
		and US.USER_ID =	(
							select A.USER_ID
							from OKSUSU_USER_MAP A
							where 1=1
							and A.USER_SVC_ID = #{userSvnId}
							and ROWNUM = 1
						  	)
		and  ROWNUM <= 50
		order by USER_ID, ORDER_NO DESC
		]]>
	</select>


	<select id="selectRecommendationVideoList" parameterType="videoInfoSearchModel" resultType="VideoInfoModel">
	/*VideoInfoMapper.selectRecommendationVideoList*/
		<![CDATA[
		select
			UC.USER_ID,
			UC.VIDEO_ID,
			CG.META_TYP_NM,
			VM.VIDEO_TYPE,
			VM.VIDEO_SVC_ID,
			case
			  when VM.VIDEO_TYPE in ('2', '3')
				then MT.TITLE
			  when VM.VIDEO_TYPE = '4'
				then VM.CLIP_TITLE
		  	end TITLE,
			TO_CHAR(MT.DD_SHOWING, 'YYYY.MM.DD') AS DD_SHOWING,
			case
				when VM.VIDEO_TYPE = '3'
			  		then TO_CHAR(TO_DATE(TO_CHAR(substr(MT.DT_TELEVISE,0,8)), 'YYYY.MM.DD'), 'YYYY.MM.DD')
				when VM.VIDEO_TYPE = '4'
			  	then TO_CHAR(VM.DT_ORGANIZE, 'YYYY.MM.DD')
		  	end DT_TELEVISE,
			UC.SCORE
		from
			OKSUSU_USER_CANDIDATES UC,
			OKSUSU_CONTENTS_GNR CG,
			(
				select
				  VM.VIDEO_ID,
				  VM.VIDEO_TYPE,
				  VM.VIDEO_SVC_ID,
				  CCM.CLIP_TITLE,
				  CCM.DT_ORGANIZE
				from
				  OKSUSU_VIDEO_MAP VM,
				  CLP_CLIP_MST CCM
				where 1=1
				  and VM.VIDEO_SVC_ID= CCM.CLIP_ID(+)
		  	) VM,
			(
				select
					VC.ID_CONTENTS AS ID_CONTENTS,
					VC.TITLE AS TITLE,
					VCG.DD_SHOWING AS DD_SHOWING,
					VCG.DT_TELEVISE AS DT_TELEVISE
				from
					VCMS_CONTENTS VC,
					VCMS_CONTENTS_GENERAL VCG
				where
					VC.ID_CONTENTS = VCG.ID_CONTENTS
			) MT
		where 1=1
		and UC.VIDEO_ID = VM.VIDEO_ID
		and VM.VIDEO_SVC_ID = CG.CONTENT_ID
		and VM.VIDEO_SVC_ID = MT.ID_CONTENTS(+)
		and UC.USER_ID =	(
							select A.USER_ID
							from OKSUSU_USER_MAP A
							where 1=1
							and A.USER_SVC_ID = #{userSvnId}
							and ROWNUM = 1
							)
		and  ROWNUM <= 50
		order by USER_ID, ORDER_NO
	]]>
	</select>
</mapper>